<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card card-inicio-sesion">
        <div class="card-body">
          <div>
            <h5 class="title text-center">Friendly Gym</h5>
          </div>
          <form>
            <div class="form-outline border campos">
              <input type="email" id="txtCorreo" class="form-control" required/>
              <label class="form-label active md-form-control-focused" for="txtCorreo">Correo</label>
            </div>

            <div class="form-outline border campos">
              <input type="password" id="txtContrasena" class="form-control" required/>
              <label class="form-label" for="txtContrasena">Contraseña</label>
            </div>
            <div class="contrasena-olvidada">
              <a class="olvidaste-contrasena-text" href="#">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="iniciar-sesion">
              <a href="/estadistica-calentamiento" class="btn btn-primary btn-iniciar-sesion">Iniciar Sesión</a>
            </div>
          </form>
            <div class="registrarse">
              <a href="" class="btn btn-primary btn-registrarse">Registrarse</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
