@import 'src/colors.css';

.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.nav-bar-container {
  background-color: var(--blue-200);
  width: 100%;
  height: 68px;
}

.dropdown-menu {
  background-color: var(--blue-200);
  padding: 0;
  margin-top: 5.8%;
  border-radius: 0% !important;
}

.dropdown-item {
  border-radius: 0% !important;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar {
  margin-top: 0;
  padding: 0;
}

.navbar-item-cuenta {
  width: 108px;
  height: 44px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-item-estadistica {
  width: 211px;
  height: 44px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-item-cerrar-sesion {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
