<app-nav-bar></app-nav-bar>
<div class="container">
  <h2 class="title text-center">Estadísticas de calentamiento</h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="card h-100">
        <div class="card-header text-center">
          Km recorridos
        </div>
        <div class="card-body">
          <canvas id="km-recorridos"></canvas>
        </div>
      </div>
    </div>
    <div class="card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="card h-100">
        <div class="card-header text-center">
          Tiempo recorrido
        </div>
        <div class="card-body">
          <canvas id="tiempo-recorrido"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class=" card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="h-100">
        <div class="title-horario-uso text-center">
          Horario de uso
        </div>
        <div class="card-body card-table">
          <div class="table-responsive table-configuration">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th class="text-table-dia row-color"><b>Día</b></th>
                  <th class="text-table-hora row-color"><b>Hora</b></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-table-dia color-active">Lunes</td>
                  <td class="text-table-hora color-active">07:00 - 07:10</td>
                </tr>
                <tr>
                  <td class="text-table-dia row-color">Martes</td>
                  <td class="text-table-hora row-color">07:00 - 07:10</td>
                </tr>
                <tr>
                  <td class="text-table-dia color-active">Miercoles</td>
                  <td class="text-table-hora color-active">07:00 - 07:10</td>
                </tr>
                <tr>
                  <td class="text-table-dia row-color">Jueves</td>
                  <td class="text-table-hora row-color">07:00 - 07:10</td>
                </tr>
                <tr>
                  <td class="text-table-dia color-active">Viernes</td>
                  <td class="text-table-hora color-active">07:00 - 07:10</td>
                </tr>
                <tr>
                  <td class="text-table-dia row-color">Sabado</td>
                  <td class="text-table-hora row-color">N/A</td>
                </tr>
                <tr>
                  <td class="text-table-dia color-active">Domingo</td>
                  <td class="text-table-hora color-active">N/A</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="card h-100">
        <div class="card-header text-center">
          Velocidad media
        </div>
        <div class="card-body">
          <canvas id="velocidad-media"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>


