<app-nav-bar></app-nav-bar>
<div class="container">
  <h2 class="title text-center">Estadísticas de calentamiento</h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="card h-100">
        <div class="card-header text-center">
          Km recorridos
        </div>
        <div class="card-body">
          <canvas id="km-recorridos"></canvas>
        </div>
      </div>
    </div>
    <div class="card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="card h-100">
        <div class="card-header text-center">
          Tiempo recorrido
        </div>
        <div class="card-body">
          <canvas id="tiempo-recorrido"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="card h-100">
        <div class="card-header text-center">
          Horario de uso
        </div>
        <div class="card-body">
          <canvas id="chart3"></canvas>
        </div>
      </div>
    </div>
    <div class="card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="card h-100">
        <div class="card-header text-center">
          Velocidad media
        </div>
        <div class="card-body">
          <canvas id="velocidad-media"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>


