<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <h2 class="title text-center">Estadísticas rutina</h2>
  <div class="row justify-content-center">
    <!-- Text cards -->
    <div class="text-card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="text-card">
        <p class="card-title">Tu rutina más usada fue:</p>
        <br>
        <ul>
          <li><p class="text-value">Abdomen</p></li>
        </ul>
      </div>
    </div>
    <div class="text-card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="text-card">
        <p class="card-title">La rutina con más intensidad esta semana fue:</p>
        <br>
        <p class="text-value">1. Espalda:</p>
        <ul>
          <li>2 min x ejercicio</li>
          <li>1 min x descanso</li>
        </ul>
      </div>
    </div>

    <!-- Chart cards -->
    <div class="chart-card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-header text-center">
            Horas de ejercicio semanal
          </div>
          <canvas id="horas-ejercicio"></canvas>
        </div>
      </div>
    </div>
    <div class="chart-card-background col-10 col-md-5 col-sm-4 col-lg-5 mb-4 my-4 mx-5">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-header text-center">
            Calorías gastadas por rutina
          </div>
          <canvas id="calorias-gastadas"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
